*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family:"Source Sans Pro", Helvetica, sans-serif;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.grid-image{
    width: calc(100% / 3);
    position: relative;
}

.grid-image > p{
    position:absolute;
    z-index:1;
    color:white;
    bottom:20px;
    left:20px;
    font-size: 15px;
}


img{
    background-size: cover;
    width:100%;
    height:100%;
}

footer{
    background-color:#242629;
    padding:20px 5px;
    width: 100%;
    display:flex;
    justify-content:space-between;
    color: white;
}

@media only screen and (max-width:1024px){
    .grid-image {
        width:calc(100% / 2)
    }
}

@media only screen and (max-width:540px){
    img{
        width:100%
    }

    .grid-image {
        width:100%
    }

    .grid-image > p{
        font-size: 15px;
    }

    footer{
        position: relative;
    }
}